{
    "token": "",
    "owner_id": 0,
    "chat_ids": [],
    "include_directories": [],
    "exclude_directories": [],
    "no_caption_directories": [],
    "kick_delay": 0,
    "messages_text": {
        "joined": "Привет, {username}! Реши капчу, пожалуйста\nВ своём следующем сообщении напиши цифры от 1 до 9, соответствующие картинкам (отсчёт начинается слева сверху)",
        "answer": "Твой ответ содержит {correct} правильных ответов. {congrats}\nПравильные ответы: {answers}",
        "no_nums": "Ни одной цифры не написал...",
        "no_text": "Это даже не текст...",
        "correct_0": "Что-то грустно...",
        "correct_1": "Ну хоть что-то...",
        "correct_2": "Лучше, чем хоть что-то...",
        "correct_3": "Неплохо!",
        "correct_4": "Поздравляю!",
        "incorrect": "Кажется ты решал как то не так..."
    }
}